In [307]:
import happybase
import pandas as pd
from datetime import datetime

# **Подключение**

In [66]:
connection = happybase.Connection('localhost', 
                                  port=9090)

# **Создание таблиц**

In [ ]:
connection.create_table(
    'courses',
    {
        'info': dict(),
    }
)

In [ ]:
connection.create_table(
    'users',
    {
        'info': dict(),
        'courses': dict(),
    }
)

In [38]:
connection.tables()

[b'courses', b'users']

# **Заполнение БД**

In [67]:
courses_table = connection.table('courses')
users_table = connection.table('users')

In [29]:
courses_table.put(b'C001', 
                   {
                       b'info:name': b'Neural Networks and Deep Learning', 
                       b'info:duration': b'4', 
                       b'info:start_date': b'2023-03-20T00:00:00.000Z', 
                       b'info:end_date': b'2023-03-20T00:00:00.000Z', 
                       b'info:description': b'Course 1 description', 
                       b'info:lecturer': b'Andrew Ng', 
                       b'info:price': b'900'
                   }
                  )

In [30]:
courses_table.put(b'C002', 
                   {
                       b'info:name': b'Structuring Machine Learning Projects', 
                       b'info:duration': b'4', 
                       b'info:start_date': b'2023-04-24T00:00:00.000Z', 
                       b'info:end_date': b'2023-05-22T00:00:00.000Z', 
                       b'info:description': b'Course 2 description', 
                       b'info:lecturer': b'Andrew Ng', 
                       b'info:price': b'750'}
                  )

In [31]:
courses_table.put(b'C003', 
                   {
                       b'info:name': b'Convolutional Neural Networks', 
                       b'info:duration': b'4', 
                       b'info:start_date': b'2023-05-29T00:00:00.000Z', 
                       b'info:end_date': b'2023-06-26T00:00:00.000Z', 
                       b'info:description': b'Course 3 description', 
                       b'info:lecturer': b'Andrew Ng', 
                       b'info:price': b'850'}
                  )

In [40]:
users_table.put(b'U001', 
                {
                    b'info:name': b'Tilda Swinton', 
                    b'info:birth_date': b'1990-10-05',            
                    b'info:corporate_client': b'False', 
                    b'courses:C001': b'',
                    b'courses:C002': b'',
                    b'courses:C003': b''
                }
               )

In [41]:
users_table.put(b'U002', 
                {
                    b'info:name': b'Frances McDormand', 
                    b'info:birth_date': b'1997-06-23',            
                    b'info:corporate_client': b'False', 
                    b'courses:C001': b'',
                    b'courses:C003': b''
                }
               )

In [42]:
users_table.put(b'U003', 
                {
                    b'info:name': b'Bill Murray', 
                    b'info:birth_date': b'1991-09-21',            
                    b'info:corporate_client': b'True', 
                    b'courses:C002': b'',
                    b'courses:C003': b''
                }
               )

In [43]:
users_table.put(b'U004', 
                {
                    b'info:name': b'Timothee Chalamet', 
                    b'info:birth_date': b'1995-12-27',            
                    b'info:corporate_client': b'True', 
                    b'courses:C001': b'',
                    b'courses:C002': b''
                }
               )

In [44]:
users_table.put(b'U005', 
                {
                    b'info:name': b'Adrien Brody', 
                    b'info:birth_date': b'2000-04-14',            
                    b'info:corporate_client': b'False', 
                    b'courses:C001': b'',
                    b'courses:C002': b'',
                    b'courses:C003': b''
                }
               )

In [45]:
users_table.put(b'U006', 
                {
                    b'info:name': b'Jeffrey Wright', 
                    b'info:birth_date': b'1999-05-27',            
                    b'info:corporate_client': b'True', 
                    b'courses:C003': b''
                }
               )

In [47]:
users_table.put(b'U007', 
                {
                    b'info:name': b'Lyna Khoudri', 
                    b'info:birth_date': b'2001-03-03',            
                    b'info:corporate_client': b'False', 
                    b'courses:C001': b'',
                    b'courses:C003': b''
                }
               )

# **Подготовка данных**

In [331]:
connection = happybase.Connection('localhost', 
                                  port=9090)

In [332]:
courses_table = connection.table('courses')
users_table = connection.table('users')

In [333]:
users = []

for key, data in users_table.scan():
    users.append(key)

In [ ]:
users

[b'U001', b'U002', b'U003', b'U004', b'U005', b'U006', b'U007']

In [ ]:
users_df = []
birth_date = []
corporate_client = []
courses = []

for user in users:
    row = users_table.row(user, columns=[b'courses'])
    courses_list = list(row.keys())
    for course in courses_list:
        users_df.append(user.decode('utf-8'))
        birth_date.append(datetime.strptime(list(users_table.row(user, columns=[b'info:birth_date']).values())[0].decode('utf-8'), "%Y-%m-%d").date())
        if list(users_table.row(user, columns=[b'info:corporate_client']).values())[0] == b'True':
            corporate_client.append(True)
        else:
            corporate_client.append(False)
        courses.append(course.split(b':')[1].decode('utf-8'))

In [336]:
user_df = pd.DataFrame({'user_id': users_df, 
                       'birth_date': birth_date, 
                       'corporate_client': corporate_client, 
                       'course_id': courses})

user_df['birth_date'] = pd.to_datetime(user_df['birth_date'])

In [337]:
user_df

   user_id birth_date  corporate_client course_id
0     U001 1990-10-05             False      C001
1     U001 1990-10-05             False      C002
2     U001 1990-10-05             False      C003
3     U002 1997-06-23             False      C001
4     U002 1997-06-23             False      C003
5     U003 1991-09-21              True      C002
6     U003 1991-09-21              True      C003
7     U004 1995-12-27              True      C001
8     U004 1995-12-27              True      C002
9     U005 2000-04-14             False      C001
10    U005 2000-04-14             False      C002
11    U005 2000-04-14             False      C003
12    U006 1999-05-27              True      C003
13    U007 2001-03-03             False      C001
14    U007 2001-03-03             False      C003

In [338]:
courses = []

for key, data in courses_table.scan():
    courses.append(key)

In [339]:
courses_df = []
names = []
start_date = []
end_date = []
price = []

for course in courses:
    courses_df.append(course.decode('utf-8'))
    names.append(list(courses_table.row(course, columns=[b'info:name']).values())[0].decode('utf-8'))
    start_date.append(datetime.strptime(list(courses_table.row(course, columns=[b'info:start_date']).values())[0].decode('utf-8'), "%Y-%m-%dT%H:%M:%S.000Z"))
    end_date.append(datetime.strptime(list(courses_table.row(course, columns=[b'info:end_date']).values())[0].decode('utf-8'), "%Y-%m-%dT%H:%M:%S.000Z"))
    price.append(int(list(courses_table.row(course, columns=[b'info:price']).values())[0]))

In [340]:
course_df = pd.DataFrame({'course_id': courses_df, 
                          'name': names, 
                          'start_date': start_date, 
                          'end_date': end_date, 
                          'price': price})

course_df['start_date'] = pd.to_datetime(course_df['start_date'])
course_df['end_date'] = pd.to_datetime(course_df['end_date'])

In [341]:
course_df

,course_id,name,start_date,end_date,price
0,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900
1,C002,Structuring Machine Learning Projects,2023-04-24,2023-05-22,750
2,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850

# **1. Вывести средний возраст пользователей по каждому курсу.**

In [342]:
merged_df = pd.merge(course_df, user_df, left_on='course_id', right_on='course_id')

In [343]:
merged_df

,course_id,name,start_date,end_date,price,user_id,birth_date,corporate_client
0,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900,U001,1990-10-05,False
1,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900,U002,1997-06-23,False
2,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900,U004,1995-12-27,True
3,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900,U005,2000-04-14,False
4,C001,Neural Networks and Deep Learning,2023-03-20,2023-03-20,900,U007,2001-03-03,False
5,C002,Structuring Machine Learning Projects,2023-04-24,2023-05-22,750,U001,1990-10-05,False
6,C002,Structuring Machine Learning Projects,2023-04-24,2023-05-22,750,U003,1991-09-21,True
7,C002,Structuring Machine Learning Projects,2023-04-24,2023-05-22,750,U004,1995-12-27,True
8,C002,Structuring Machine Learning Projects,2023-04-24,2023-05-22,750,U005,2000-04-14,False
9,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U001,1990-10-05,False
10,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U002,1997-06-23,False
11,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U003,1991-09-21,True
12,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U005,2000-04-14,False
13,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U006,1999-05-27,True
14,C003,Convolutional Neural Networks,2023-05-29,2023-06-26,850,U007,2001-03-03,False

In [351]:
merged_df['age'] = (datetime.now().year - merged_df['birth_date'].dt.year)

In [352]:
average_age_by_course = merged_df.groupby('name')['age'].mean()

print(average_age_by_course)

name
Convolutional Neural Networks            26.666667
Neural Networks and Deep Learning        26.400000
Structuring Machine Learning Projects    29.000000
Name: age, dtype: float64

# **2. Вывести курсы в которых физических клиентов, больше чем корпоративных клиент и их процентное соотношение.**

In [353]:
clients_count = merged_df.groupby('name')['corporate_client'].value_counts().unstack(fill_value=0)
clients_count

corporate_client                       False  True
name
Convolutional Neural Networks              4      2
Neural Networks and Deep Learning          4      1
Structuring Machine Learning Projects      2      2

In [354]:
filtered_courses = clients_count[clients_count[False] > clients_count[True]]

filtered_courses['percentage'] = (filtered_courses[False] / (filtered_courses[False] + filtered_courses[True])) * 100

/tmp/ipykernel_39546/4125502690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_courses['percentage'] = (filtered_courses[False] / (filtered_courses[False] + filtered_courses[True])) * 100

In [355]:
print(filtered_courses[['percentage']])

corporate_client                   percentage
name
Convolutional Neural Networks       66.666667
Neural Networks and Deep Learning   80.000000

# **3. Вывести курсы, которые уже завершились.**

In [357]:
current_date = datetime.now().date()

finished_courses = course_df[course_df['end_date'].dt.date <= current_date]

print(finished_courses['name'])

0        Neural Networks and Deep Learning
1    Structuring Machine Learning Projects
Name: name, dtype: object

# **4. Вывести курсы, которые еще предстоят и количество записавшихся на них пользователей.**

In [359]:
upcoming_courses = course_df[course_df['start_date'].dt.date > current_date]

In [364]:
merged_df = pd.merge(upcoming_courses, user_df, left_on='course_id', right_on='course_id')

users_count = merged_df.groupby('name')['user_id'].count()

print("Количество записавшихся пользователей:")
print(users_count)

Количество записавшихся пользователей:
name
Convolutional Neural Networks    6
Name: user_id, dtype: int64

# **5. Вывести полученную прибыль от курсов, которые завершились и уже проходят.**

In [ ]:
current_date = pd.to_datetime('now')

In [374]:
finished_courses = course_df[course_df['end_date'] < current_date]
ongoing_courses = course_df[(course_df['start_date'] <= current_date) & (course_df['end_date'] >= current_date)]

In [375]:
profit_finished_courses = finished_courses['price'].sum()
profit_ongoing_courses = ongoing_courses['price'].sum()

In [377]:
print("Полученная прибыль от курсов:", profit_ongoing_courses + profit_finished_courses)

Полученная прибыль от курсов: 1650